
gensim==4.3.0
gitdb==4.0.11
GitPython==3.1.40
glob2==0.7
hvplot==0.8.2
hyperlink==21.0.0
imagecodecs==2021.8.26
imageio==2.26.0
imagesize==1.4.1
importlib-metadata==4.11.3
ipykernel==6.19.2
ipython==8.10.0
ipython-genutils==0.2.0
joblib==1.1.1
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.17.3
lxml==4.9.1
matplotlib==3.7.0
nltk==3.7
numba==0.56.4
numexpr==2.8.4
numpy ==1.23.5
numpydoc==1.5.0
openpyxl==3.0.10
packaging==22.0
pandas==1.5.3
pandocfilters==1.5.0
panel==0.14.3
param==1.12.3
Pillow==10.0.1
pip==22.3.1
plotly==5.9.0
ply==3.11
Protego ==0.1.16
protobuf==4.25.1
psutil==5.9.0
ptyprocess==0.7.0
py==1.11.0
regex==2022.7.9
requests==2.28.1
requests-file==1.5.1
requests-toolbelt==0.9.1
scikit-image==0.19.3
scikit-learn==1.2.1
scipy ==1.10.0
Scrapy ==2.8.0
seaborn==0.12.2
setuptools==65.6.3
spacy ==3.5.3
spacy-legacy ==3.0.12
spacy-loggers==1.0.4
spyder==5.4.1
spyder-kernels==2.4.1
streamlit                     ==1.29.0
streamlit-camera-input-live   ==0.2.0
streamlit-card                ==0.0.4
streamlit-chat                ==0.0.2.2
streamlit-embedcode           ==0.1.2
streamlit-extras              ==0.2.7
streamlit-faker               ==0.0.2
streamlit-image-coordinates   ==0.1.3
streamlit-keyup               ==0.2.0
streamlit-toggle-switch       ==1.0.2
streamlit-vertical-slider     ==1.0.2
tables                        ==3.7.0
tabulate                      ==0.8.10
text-unidecode                ==1.3
textblob                      ==0.15.3
tokenizers                    ==0.11.4
ujson                         ==5.4.0
Unidecode                     ==1.2.0
wordcloud                     ==1.9.2


beautifulsoup4                ==4.12.2
bertopic                      ==0.16.0
datasets                      ==2.16.0
en-core-web-sm                ==3.5.0
hdbscan                       ==0.8.33
keras                         ==2.15.0
Keras-Preprocessing           ==1.1.2
ninja                         ==1.11.1
regex                         ==2022.7.9
requests                      ==2.29.0
requests-file                 ==1.5.1
requests-oauthlib             ==1.3.1
rich                          ==13.7.0
scikit-learn                  ==1.2.2
scikit-plot                   ==0.3.7
scipy                         ==1.11.4
Scrapy                        ==2.8.0
seaborn                       ==0.12.2
selenium                      ==4.10.0
sentence-transformers         ==2.2.2
streamlit                     ==1.29.0
streamlit-timeline            ==0.0.2
tensorflow                   == 2.15.0
tensorflow-estimator          ==2.15.0
tensorflow-hub                ==0.15.0
tensorflow-intel              ==2.15.0
tensorflow-io-gcs-filesystem  ==0.31.0
termcolor                     ==2.3.0
textblob                      ==0.15.3
torch                         ==2.1.0
torchvision                   ==0.15.2a0
transformers                  ==4.36.2
umap                          ==0.1.1
umap-learn                    ==0.5.5
urllib3                       ==1.26.15
wordninja                     ==2.0.0
xgboost                       ==1.7.6